<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vietnam Trading</title>
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/446c699f3f.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="./"><img src="http://localhost:3000/public/assets/logo.png" width="175"
                height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control md-10" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" style="height: 38px;" type="submit" href="./itemSearch.html"
                    onclick="document.location='itemSearch.html';return false;"><i class="fas fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                {{#if isSignIn}}
                <li class="nav-item active">
                    <button class="btn btn-primary ml-1 mr-1 mt-1" type="submit"><i
                            class="fas fa-shopping-cart"></i></button>
                </li>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" href="./uploadItem.html"
                    onclick="document.location='uploadItem.html';return false;">Sell</button>
                <li class="nav-item active">
                    <button class="btn btn-primary ml-1 mr-1 mt-1" type="submit" href="./profileDetail.html"
                        onclick="document.location='profileDetail.html';return false;"><i
                            class="fas fa-user"></i></button>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign
                        Out<span class="sr-only">(current)</span></a>
                </li>
                {{else}}
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" href="#signup" data-toggle="modal"
                    data-target=".bs-modal-sm">Sign In</button>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign
                        Up<span class="sr-only">(current)</span></a>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <a class=""><a href="#signup" data-toggle="tab">Register</a></a>
                        <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in" id="why">
                            <p>We need this information so that you can receive access to the site and its content. Rest
                                assured your information will not be sold, traded, or given to anyone.</p>
                            <p></p><br> Please contact <a
                                mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com</a>
                            for any other
                            inquiries.</p>
                        </div>
                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Alias:</label>
                                        <div class="controls">
                                            <input required="" id="userid" name="userid" type="text"
                                                class="form-control" placeholder="JoeSixpack" class="input-medium"
                                                required="">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordinput">Password:</label>
                                        <div class="controls">
                                            <input required="" id="passwordinput" name="passwordinput"
                                                class="form-control" type="password" placeholder="********"
                                                class="input-medium">
                                        </div>
                                    </div>

                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="control-group">
                                        <label class="control-label" for="rememberme"></label>
                                        <div class="controls">
                                            <label class="checkbox inline" for="rememberme-0">
                                                <input type="checkbox" name="rememberme" id="rememberme-0"
                                                    value="Remember me">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="Email">Email:</label>
                                        <div class="controls">
                                            <input id="Email" name="Email" class="form-control" type="text"
                                                placeholder="JoeSixpack@sixpacksrus.com" class="input-large"
                                                required="">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Alias:</label>
                                        <div class="controls">
                                            <input id="userid" name="userid" class="form-control" type="text"
                                                placeholder="JoeSixpack" class="input-large" required="">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <div class="controls">
                                            <input id="password" name="password" class="form-control" type="password"
                                                placeholder="********" class="input-large" required="">
                                            <em>1-8 Characters</em>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                        <div class="controls">
                                            <input id="reenterpassword" class="form-control" name="reenterpassword"
                                                type="password" placeholder="********" class="input-large" required="">
                                        </div>
                                    </div>

                                    <!-- Multiple Radios (inline) -->
                                    <br>
                                    <div class="control-group">
                                        <label class="control-label" for="humancheck">Humanity Check:</label>
                                        <div class="controls">
                                            <label class="radio inline" for="humancheck-0">
                                                <input type="radio" name="humancheck" id="humancheck-0" value="robot"
                                                    checked="checked">I'm a
                                                Robot</label>
                                            <label class="radio inline" for="humancheck-1">
                                                <input type="radio" name="humancheck" id="humancheck-1"
                                                    value="human">I'm
                                                Human</label>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign
                                                Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
        {{{body}}}
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="footer-menu" style="justify-content: flex-end; display: flex;">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Photos</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <span class="copyright">TRADE</span>
                    </div>
                    <div class="col-md-5">
                        <ul class="footer-menu" style="justify-content: flex-start; display: flex; padding-left: 0px;">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Photos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">©2010 - 2020 Privacy - Terms.</span>
                    </div>
                </div>
            </div>
    </div>
    <div class="container mt-5 ">
        <div class="row">
            <div class="card bg-primary text-white col-2 " style="width: 13rem;">
                <div class="card-header text-center">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    {{#each lcCategories}}
                    <li class="list-group-item text-center p-0">
                        <!-- Example split danger button -->
                        <div class=" btn-group dropright w-100">
                            <button type="button" class="btn btn-primary dropdown-toggle w-100" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{cat_name}}
                            </button>
                            <div class="dropdown-menu">
                                {{#if CatHaveSub}}
                                {{#each subCats}}
                                <a class="dropdown-item" href="/products/byCat/{{cat_id}}">{{cat_name}}</a>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-10">
                <!-- Body -->
                {{{body}}}
            </div>
        </div>
        <!-- /Body -->

        <!-- Footer -->
        <footer class="page-footer font-small indigo">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ID</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">1753026</a>
                            </li>
                            <li>
                                <a href="#!">1753032</a>
                            </li>
                            <li>
                                <a href="#!">1753002</a>
                            </li>
                            <li>
                                <a href="#!">1753062</a>
                            </li>

                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Name</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Võ Quốc An</a>
                            </li>
                            <li>
                                <a href="#!">Nguyễn Tất Bình</a>
                            </li>
                            <li>
                                <a href="#!">Huỳnh Minh Chí</a>
                            </li>
                            <li>
                                <a href="#!">Lê Minh Khang</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->

                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>
</body>